[2018-02-13 07:13] samstevens opened #1 "[FR] Time Ago Functions"
Hi guys,

This is a great tool and should be the go-to resource for all twig helpers.

I think adding a "time ago" function would be handy.
https://github.com/MDXDave/time-ago

Having parameters for displaying "ago" or "in" (eg: 2 days ago, in 7 days) would be nice.

Moment.js does a great job of this with their implementation
https://momentjs.com/docs/#/displaying/fromnow/

A PHP port is availabl

[2018-04-10 19:45] michaelrog opened #2 "Unknown argument "words" for filter "hacksaw(unit, limit, allowed_tags, append)"
Originally [posted](https://github.com/TopShelfCraft/Wordsmith-Docs/issues/2) by @shantamg:

---

I had been using the hacksaw plugin with Craft 2 and was doing this:

    hacksaw(words='30')

After upgrading to Craft 3 and installing Wordsmith, Craft raises raises an unknown argument error.
It's an easy fix, just need to change it to

    hacksaw(unit='words', limit='30')

but I thought I'd menti

[2018-04-10 19:46] michaelrog commented on #2
Thanks for catching this! We should definitely add some param normalization there for backwards compatibility.

[2018-04-10 19:51] michaelrog opened #3 "[FR] Breaking sentences"
Originally [posted](https://github.com/TopShelfCraft/Wordsmith-Docs/issues/1) by @stovepot:

---

is it possible to "
" an entry.title?

Example:

This long title might not fit in the slide window.

This long title
might not fit
in the slide window.

I guess this requires certain specific parameters e.g.
every 3rd word, etc…

[2018-04-10 19:55] michaelrog commented on #3
I can imagine a slightly more generalized solution in the form of `appendEvery` and `prependEvery` functions, which would take as params:
 - `content`
 - `n`
 - `unit` (characters, words, paragraphs... similar to the [`chop`](https://wordsmith.docs.topshelfcraft.com/guide/truncation.html#chop) function)
 - `limit`

(Would probably have to strip tags, and/or account for that somehow similarly to ho

[2018-04-10 21:00] shantamg commented on #2
Well, one thing I just realized when trying to help solve the issue is that the version of Hacksaw that I am using is 1.1.2, which I just realized is a [different repo](https://github.com/ehousestudio/craft_hacksaw) from the [latest version of hacksaw](https://github.com/ryanshrum/hacksaw).

That's pretty confusing because I never got a notice in the craft updates so I was unaware.

From what I ca

[2018-06-14 16:33] wfendler opened #5 "`widont` function ignores short words/neighbors"
Is there something I'm missing here? The `&nbsp;` isn't being added at all to the second example below (and all other fields). I've looked through my plugins and I don't think there would be anything conflicting.

When I use the `typogrify` filter it works but I prefer not to use the "smart hyphens" but can't seem to find an example of "settings" in the documentation to turn this off.

[code]

Tha

[2018-07-13 14:58] michaelrog opened #6 "Unable to add global "wordsmith" as the runtime or the extensions have already been initialized"
Error upon installation...

LogicException: Unable to add global "wordsmith" as the runtime or the extensions have already been initialized.

Craft CMS 3.0.15
PHP 7.0.30

[2018-07-23 06:59] arifje commented on #6
Any plans on fixing? This is currently the only plugin for truncating text... cheers!

[2018-07-23 13:04] michaelrog commented on #6
I'm currently unable to reproduce this issue using Wordsmith 3.0.2 on Craft 3.0.16.1.

@skoften / @webmarks — Could yall make sure you're fully updated?

Assuming so, could you let us know what other plugins you have installed, and the order in which they appear in the plugins table in the db?

[2018-07-23 14:12] arifje commented on #6
Sure, I got two installs on the same server that generate this error.

Site 1:

[code]

Site 2:

[code]

Server info;

PHP 7.0.30-0ubuntu0.16.04.1 (cli) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.30-0ubuntu0.16.04.1, Copyright (c) 1999-2017, by Zend Technologies

Linux testmachine 4.4.0-127-generic #153-Ubu

[2018-07-26 10:04] frankharrison-wj commented on #6
I've also just hit this bug. I had Wordsmith installed and working fine, but then had to delete my vendor directory and rebuild from composer. I managed to reinstall everything apart from Wordsmith which gives the same error as this thread's title.

I'm on Craft CMS 3.0.17.1, running on PHP 7.2.1. Attached is a screenshot of my plugins table...

<img width="326" alt="screen shot 2018-07-26 at 10 5

[2018-08-14 11:23] rogerdawkins opened #7 "Paragraph chop includes additional leading paragraph"
I have used
chop(limit=2, unit='p')
but the returned string includes an additional leading paragraph tag. I checked the source data and that is clean.

Looking at the code in libs/hacksaw.php around line 88 the problem is caused by...
[code]
The $return variable is set to a paragraph tag but then inside the foreach loop each paragraph has a paragraph tag added as well resulting in two p tags at th

[2018-08-14 13:23] michaelrog commented on #7
@rogerdawkins good catch! Could you PR that to the `3.x.dev` branch?

[2018-09-04 22:58] michaelrog commented on #7
Thanks @rogerdawkins!!!

[2018-09-04 22:58] #7 closed, assigned to nobody

[2018-09-04 23:02] michaelrog commented on #6
Fixed by b198c3d.

(c.f. https://github.com/pixelandtonic/Wordsmith/commit/4c37dc0ae7a439141f1cbb67e80555580f0cc6a7)

[2018-09-04 23:02] #6 closed, assigned to nobody

[2018-09-04 23:04] michaelrog commented on #5
I suspect it's an order-of-parsing issue. I've never run into this before, so I'll look into it and confirm. Meanwhile, may I recommend, instead:
[code]

[2018-10-20 02:03] jalendport commented on #5
I've tested this on the latest versions of Craft and Wordsmith and couldn't replicate the issue.

Using the following in my template:
[code]
displays this in the browser:

[code]
as one would expect.

_It's _highly_ possible this bug was fixed in Wordsmith (https://github.com/TopShelfCraft/Wordsmith/pull/4 for example) or in the Craft codebase during the period of time between when this issue was

[2018-11-05 13:31] jalendport opened #11 "Add `cutoff` Parameter"
We should add the `cutoff` parameter found in the [original version of Hacksaw](https://github.com/ehousestudio/craft_hacksaw/blob/master/hacksaw/twigextensions/HacksawTwigExtension.php#L25) back in (both for legacy reasons and also because it might prove useful in some cases).

[code]

[2018-11-06 22:50] #2 closed, assigned to jalendport

[2018-12-03 06:57] mattstein commented on #5
FWIW, I chased this down and can confirm it's not a bug but an important implication of PHP-Typography's settings that apply to Dewidow_Fix. Most widow fixers I've used are just quick regular expressions, and this class will only handle widows in certain cases. Two settings matter in this case:

[code]

`max_pull` and `max_length` both default to 5, meaning only widows fewer than five characters l

[2018-12-04 14:11] michaelrog commented on #5
@mattstein, thanks for tracking this down.

I'm re-opening this issue and will look at setting some slightly more permissive defaults for `max_pull` and `max_length`.

(Changing these configs wouldn't technically be "breaking" from the standpoint of semver, but I wonder if it would be _better_ to wait for a major release to change default behavior...?)

[2018-12-04 15:53] mattstein commented on #5
A note in the docs or a static config example might be enough of a hint that nothing's _broken_. I kind of fancy it now.

I'd probably change the defaults with a major release since it could have visible consequences for live sites, but you're Mr. Manager @michaelrog!

[2018-12-04 16:31] michaelrog commented on #5
Agreed.

(@jalendport, sending this one onto your docket.)

[2018-12-22 01:16] adrienne opened #13 "How to use settings in the typogrify filter?"
There is no indication of how to use the available "settings" parameter, and I can't sort it out from looking at the code. Please help!

[2019-01-28 16:59] piotrpog opened #14 "Words with non ascii characters incorrectly handled by apTitleize filter"
In my case, word `Przykładowa` was changed to `PrzykłAdowa` - first letter after non ascii character was capitalized.

[2019-02-12 15:24] toddpadwick commented on #13
I've been tryign to figure this out as well. it doesn't seem clear? Can anyone provide support on this?

[2019-02-14 03:00] adrienne commented on #13
@toddpadwick - I did actually figure this out. I should probably submit a pull request to add some documentation. In the meantime: You need to create a file called `wordsmith.php` in your `config` directory, and it needs to look something like this:

[code]

Figuring out what the actual settings you can use are is a little trickier since no one seems to have a useful list. The best link i've found

[2019-02-14 09:41] toddpadwick commented on #13
Excellent, thank you @adrienne . This is helpful.
It's surprising they have such extensive documentation on everything else except the settings?

[2019-02-14 23:15] michaelrog commented on #13
Adding more docs on this is on my to-do list. (But I definitely would not complain if somebody PR'd the docs to add a reference; that would be heroic!)

[2019-04-03 14:13] michaelrog opened #15 "`chop` filter glitches when allowed HTML tags have attributes"
The `chop` filter appears to have issues when allowed HTML tags have attributes, such as the `a` tag with `title` attribute in this example.

Source HTML:
[code]

Craft Template Code:
[code]

Resulting HTML:
[code]

[2019-04-03 14:35] michaelrog opened #16 "[FR] `highlight`/`wrap` function"
Function to parse through some text and replace each occurrence of words/substrings of interest with wrapped/"highlighted" text, e.g. `foo` to `<em>foo</em>`.

We'd want options to enable _or_ prevent highlighting/wrapping partial words.

Some examples of how this might work:

```"This is example text." | highlight(needle='example', html='<span class="highlight">')```
&rarr; `"This is <span class=

[2019-05-08 00:24] michaelrog opened #17 "Typography issues in PHP 7.3"
There appear to be some issues with the PHP-Typography library and PHP 7.3, which our users might run into eventually:

https://github.com/mundschenk-at/php-typography/issues/109

[2019-05-08 17:08] ademers opened #18 "[FR] Truncate after first sentence"
Add ability to truncate after a field content's first sentence.

For example: `{{ entry.body|chop(limit=1, unit='s') }}`

Originally discussed in Craft Discord: https://discordapp.com/channels/456442477667418113/456442867163070466/567769332717846548

[2019-05-08 19:32] jalendport commented on #18
Thanks Andrea...

[2019-05-10 16:44] michaelrog commented on #17
c.f. https://github.com/craftcms/cms/issues/4239

[2019-05-10 16:59] michaelrog commented on #18
Sentence splitting is a bit tricky. What marks the end of a sentence? "Sentence-ending" punctuation isn't always:

To make it tight, we'd need to have an internal (extensible) list of common abbreviated words, some rules around numbers/dates/math, affordances for repeated punctuation `!???!??`, etc.

(As a punt, we could just wrap a component like [php-sentence](https://github.com/vanderlee/php-se

[2019-05-10 17:07] michaelrog opened #19 "[FR] Line wrap"
[code]
<pre>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt

[2019-05-10 17:13] michaelrog opened #20 "[FR] Line wrap / line split"
[code]
...outputs:
[code]

[2019-05-10 17:20] michaelrog opened #21 "[FR] Split string by unit, pattern, chunk length"
In service to #3, #18, #20, and the `chop` filter in general, it'd be nice to have underlying methods for splitting text by various units — character, word, sentence, line, paragraph — and to expose those also as their own functions, e.g.:

[code]
...returns:
[code]

_(Should we also offer a way to strip punctuation?)_

Also, this function could include/extend functionality from:
- [`explode()`](h

[2019-05-10 18:30] ademers commented on #18
@michaelrog Indeed. I hadn't considered those scenarios. I was solely thinking of my current scenario which is the first "." period. I can add an extra field instead where author can manually enter the copy, so ignore/close this FR. Thanks!

[2019-05-10 19:31] michaelrog commented on #18
To be clear, I don't think it's necessarily a bad feature request. It's just not trivial to implement.

Gonna leave this open for now in case somebody wants to tackle it.

[2019-05-13 14:27] jalendport commented on #18
Hmm yeah I forgot that we were using our own "library" for truncating text and hastily assumed that whatever we were using had a sentence truncation option that we just hadn't made available. But you did bring up some great and important points that I didn't initially take the time to think through when Andrea first mentioned the idea to me.

[2019-05-13 17:28] angrybrad commented on #17
Should be resoved in https://github.com/craftcms/cms/commit/8bf818a2e61a3468ab4630e45a9ad9ad42503975, which will be in the next release.

[2019-05-13 17:31] jalendport commented on #17
Thank you @angrybrad!

[2019-05-13 17:31] #17 closed, assigned to nobody

[2019-05-14 19:05] chadcrowell opened #22 "Installation fails due to Parsedown version conflict with Doxter"
Possible to change your Parsedown requirement to match his?

[code]

[2019-05-16 15:11] michaelrog commented on #22
(c.f. https://github.com/selvinortiz/craft-plugin-doxter)

[2019-05-16 15:19] michaelrog commented on #22
[`erusev/parsedown`](https://github.com/erusev/parsedown) is only tested through 7.3. 🤔 I'm hesitant to change the stability requirement, unless there's significant functionality we're missing out on by not requiring the newest beta version... But I'll look into it. Definitely do want Doxter and Wordsmith to be usable together.

@selvinortiz, what was your reason for upgrading [Doxter](https://git

[2019-05-17 21:33] selvinortiz commented on #22
@michaelrog The latest "stable" release of Parsedown breaks footnotes (https://github.com/erusev/parsedown-extra/issues/118) to patch a security issue in previous versions.

I wanted footnotes to work but I did not want to go back to a version that could introduce potential security issues. I opted instead, to test (at great length) the beta version that addressed the security concerns and fixeed

[2019-05-20 22:17] #22 closed, assigned to michaelrog

[2019-05-21 14:43] michaelrog commented on #22
@chadcrowell — Thanks for bringing this to my attention. I expanded the version constraint for `parsedown-extra` to allow that beta version.

[2019-07-02 20:25] michaelrog opened #23 "[FR] Comma list function"
Takes an array of strings (or stringy things) and concatenates them into a delimited list, with optional "Oxford comma" treatment and customizable final conjunction.

[code]

[code]

[code]

[2019-07-10 23:56] piotrpog opened #24 "chop filter - opening HTML tag length is counted along with text length"
I noticed that when I use `allowedTags` option, with `chop` filter (while chopping by a number of characters), opening tag length in the text is counted along with text length. But when this specific allowed tag is automatically closed, this closing tag length is not counted.

I think it would be best if these tags length would be no counted at all, after all, we truncate text to specific length s

[2019-08-27 22:41] jmauzyk opened #25 "Stringy Naming Collision"
Just installed Craft 3.3 and was starting to test it when I ran into a naming collision issue with Stringy. Craft 3.3 switches from `danielstjules/Stringy` to `voku/Stringy`. This wouldn't be an issue except that Craft 3.3 now uses the `snakeize()` method (unique to voku) for the `|snake` twig filter. Because composer defaults to the old `danielstjules/Stringy` when generating autoload files, I no

[2019-09-03 06:01] lukeholder commented on #25
Also getting this. collision with Crafts built in Stringy/Stringy

[2019-09-07 23:28] vaughn-taylor commented on #25
I have an issue as well as reported [here](https://github.com/craftcms/cms/issues/4753). Apparently `danielstjules/Stringy` needs to be updated to `voku/Stringy` in `topshelfcraft/wordsmith`.

[2019-09-20 17:14] #25 closed, assigned to nobody

[2019-09-23 13:27] toddpadwick commented on #24
This would be a great improvement - I have a bio description which the client can add links to. It needs to be visually truncated to 180 chars however when they add a link to it, the length of the link is counted and if the URL is long it can leave only a word or two rendered on the front end.

[2019-10-19 23:06] chasegiunta opened #27 "Make `trim` interoperable with native Twig function"

[2019-10-21 18:59] michaelrog commented on #27
Currently, Wordsmith's `trim` overrides Twig's core function. (This is intentional.) However, we could make them interoperable by adding some matching params to Wordsmith's `trim` function.

The new signature of our `trim` function would be something like:
[code]

Pros:
* Affordance for anyone familiar with Twig's `trim`
* Prevent accidentally manifesting bugs in users' templates if they are alrea

[2019-12-03 20:22] outline4 opened #28 "chop with words should add a space after each paragraph."
If there is more then one paragraph, it should add a space after each paragraph

With this:

	{% set text %}
		<p>She sells seashells by the seashore.</p><p>The shells that she sells are seashells, I'm <em>sure</em>.</p><p>So, if she sells shells she sees on the shore,</p><p>Yes, I say she sells seashore shells, for sure.</p>
	{% endset %}

	{{ text|chop(limit=40, unit='w', append="…") }}

the out

[2019-12-03 20:26] outline4 commented on #28
Ok, I've found a way around this problem: `{{ text|replace({'</p>': '</p> '})|chop(limit=40, unit='w', append="…") }}`. But it would be nice if chopper could do this itself...

[2019-12-07 19:32] michaelrog commented on #28
Stefan — Thanks for pointing this out.

Unfortunately, I think it'd be tricky to implement your remedy in a consistent way. For example, we  would only consider adding whitespace between consecutive block elements; it would be incorrect to add extra space around inline elements. So now `chop` needs to know/care about different HTML tags? (Seems kind of outside the scope of that method.) And, which

[2019-12-07 19:32] #28 closed, assigned to nobody

[2020-01-21 23:13] mattstein opened #29 "[FR] Allow erusev/parsedown-extra 0.8"
It's [finally stable](https://github.com/erusev/parsedown-extra/releases)! [Others have required it recently](https://github.com/selvinortiz/craft-plugin-doxter/commit/f1e874e3918e7c1d7a5a66f322be7b9d5f1178fd) and this could hopefully solve [an ancient rift](https://github.com/TopShelfCraft/Wordsmith/issues/22).

[2020-02-17 18:04] michaelrog commented on #29
Give me your hands if we be friends,
 And @mattstein shall restore amends.

— Shakespeare, Act III, Scene 92d0e41.

[2020-02-17 18:04] #29 closed, assigned to nobody

[2020-02-17 18:08] jalendport commented on #29
Haha best comment on GitHub I've seen in a while 👏😂

[2020-03-16 09:00] kaspar-allenbach opened #30 "Vimeo Filter"
Would you mind adding vimeo support?

`https://player.vimeo.com/video/22439234`
`https://vimeo.com/22439234`

`{{ handle |vimeoId }}`

This would be awesome

[2020-03-16 17:11] michaelrog commented on #30
Yes, I'll put it on the to-do list.

If you beat me to it, please PR to the `3.x.dev` branch!  🎬

[2020-04-29 20:24] alexroper commented on #13
Passing a settings object doesn't seem to have any effect. Am I doing this right?

[code]

[2020-06-19 11:11] petehjfd opened #31 "widont not working when applied to the output of a Redactor field"
I have a Redactor field containing multiple paragraphs.  In the template I have:

[code]

No `&nbsp;` is being added anywhere.

If I replace the Redactor output with some hardcoded text, it works fine:

[code]

This outputs:

[code]

Does something special need to be done when applying widont to the output of a Redactor field?

Thanks

[2020-06-23 10:30] kerns opened #32 "Widont Not Working"
Or at least this is how it feels. What might I be doing wrong? Neither of these is working.

[code]

[2020-06-23 16:35] michaelrog commented on #32
To troubleshoot, it'd be helpful to know the actual text of `entryTitle` in your example. — Could you try running a raw string (rather than a variable) through the filter, and let us know the output?

(Also, check to see if your case is similar to #5, where `widont` ignores sufficiently long words...?)

[2020-06-23 19:20] kerns commented on #32
Sure. the headline in this case was `Rare and Fully Documented Giulietta Sprint`

`{% filter widont %}Voluptatem numquam nesciunt voluptates ipsasdsdsdsd explicabo!{% endfilter %}`is not responding either. 🤔

[2020-06-26 11:07] kerns commented on #32
Any other ideas or things I might test to help debug this?

[2020-06-29 17:12] denisyilmaz opened #33 "CraftCMS 3.5 requires voku/stringy version ^6.2.2"
CraftCMS 3.5 requires `voku/stringy`, a dependent of wordsmith to be at least version 6.2.2

[code]

can the reference to `voku/stringy` be updated to allow compatibility with the upcoming release of CraftCMS 3.5?

[2020-07-07 05:55] Kashkin opened #34 "Update icanboogie/inflector to 2.0 for PHP 7.4 support"
Currently the `|pluralize` filter wont work in PHP 7.4, as inflector through version 1.5.0 uses the deprecated array and string offset access syntax with curly braces.

e.g.

[`$r0 = $rule{0};`](https://github.com/ICanBoogie/Inflector/blob/v1.5.0/lib/inflections.php#L350)

Which in 2.0.0 is now:

[`$r0 = $rule[0];`](https://github.com/ICanBoogie/Inflector/blob/master/lib/inflections.php#L341)

I h

[2020-07-08 04:44] michaelrog commented on #32
As I suspected, this is a repeat of #5.

By default, `widont` only takes effect if the widowed line would be shorter than 5 characters.

You can tweak this by adding more aggressive settings in your `wordsmith.php` config file:
[code]

[2020-07-08 04:45] michaelrog commented on #32
Since this is a common issue, I'm going to raise the threshold to 10 characters. Update to Wordsmith 3.3 to get that adjustment.

[2020-07-08 04:45] #32 closed, assigned to nobody

[2020-07-08 05:27] michaelrog commented on #33
Released in 3.3.0. ✅

[2020-07-08 05:27] #33 closed, assigned to nobody

[2020-07-08 05:28] michaelrog commented on #5
I increased the default threshold to 10 characters to make `widont` a bit more aggressive in closing up widowed lines. Released in 3.3.0. ✅

(Thanks again, @mattstein, for troubleshooting this for us!) 🎩

[2020-07-08 05:28] #5 closed, assigned to jalendport

[2020-07-08 06:44] alekslinde opened #35 "Reference to deprecated vue-asset"
Trying to upgrade to 3.3.0 and it gives me the following error:

By the look on the first error it seems that Wordsmith requires craftcms/vue-asset which is now deprecated - https://github.com/craftcms/vue-asset .

[2020-07-08 14:48] michaelrog commented on #35
🤔  Wordsmith does not require or reference `vue-asset`.

[2020-07-08 15:02] michaelrog commented on #35
The issue is that Craft versions earlier than 3.5 aren't compatible with Stringy v6. Therefore, 3.3.0 is retagged to only be compatible with Craft 3.5+.

[2020-07-08 15:02] #35 closed, assigned to nobody

[2020-07-08 23:11] alekslinde commented on #35
CraftCMS 3.5 is in beta - probably not going to use just yet. It will be great having the update not being available to any other CraftCMS version before 3.5.

[2020-07-08 23:19] michaelrog commented on #34
Thanks for the heads-up, @Kashkin. We'll need to make sure to code around any breaking changes in 2.0, but I'm in favor of updating. Would you like to check it out and submit a PR to `3.x.dev`?

[2020-07-24 15:31] joepagan opened #36 "Should the latest stable release of wordsmith 3.3.0 have a requirement of > craft 3.5 which is unstable?"
I know you've done it to prep, but feels like this should not yet be a requirement when there is not yet a stable release of that package?

Thanks for your work.

[2020-07-25 06:33] michaelrog commented on #36
Composer will satisfy dependency requirements with the latest possible packages based on your project's [stability setting](https://getcomposer.org/doc/04-schema.md#minimum-stability). i.e. Unless you specifically allow beta/RC versions of dependencies in your `composer.json`, you won't get Craft 3.5 (or Wordsmith 3.3) until P&T tags a "stable" release.

Craft 3.5 requires a different version of S

[2020-07-25 06:33] #36 closed, assigned to nobody

[2020-07-30 14:59] joepagan commented on #36
Forgive me if I haven't understood this right though composer takes "stable" by default?

`composer create-project craftcms/craft`

then

`composer require topshelfcraft/wordsmith`

returns:

[code]

[2020-07-30 15:17] michaelrog commented on #36
Hmmmm, I may have misunderstood Composer's default behavior. (It seems that if you don't specify a version you want to install, Composer defaults to the latest version, rather than to the latest version that would be compatible with your other requirements.) I'll look into that further.

In the meantime, you can use:

[code]

[2020-08-05 01:07] idawgik opened #37 "Problem upgrading to Craft 3.5 with Wordsmith 3.2 installed"
_Update: Craft 3.5 requires Wordsmith 3.3._

#### 📌  ... The [solution](https://github.com/TopShelfCraft/Wordsmith/issues/37#issuecomment-670040571):

1. Uninstall Wordsmith (3.2)
2. Update Craft (3.5)
3. Re-install Wordsmith (3.3)

* * * *

Hello,

I'm attempting to upgrade to Craft 3.5.0 on a site using Wordsmith.

I get the following errors during the composer updates:

[code]

It looks like th

[2020-08-05 11:06] kerns commented on #37
Same issue. Had to completely remove the plugin and am now sifting through templates to remove all my beloved `|widont`filters. Hope this can be resolved. 👍

[2020-08-06 01:48] moondawg69 commented on #37
Same issue here as well. Hope this can be resolved as well please :)

[2020-08-06 12:52] mariussunde commented on #37
Same!

[2020-08-06 13:48] michaelrog commented on #37
Make sure your dependency constraint for Wordsmith allows the latest version of Wordsmith (3.3.0) to be installed.

(Wordsmith 3.3 uses a later version of Stringy in order to be compatible with Craft 3.5, so you should be able to update both in tandem. Versions of Wordsmith prior to 3.3 will not be compatible with Craft 3.5.)

[2020-08-06 13:50] michaelrog commented on #37
(@kerns @moondawg69 @mariussunde — feel free to post your `composer.json` files if you'd like help updating your dependency constraints to be Craft 3.5-ready.)

[2020-08-06 15:06] moondawg69 commented on #37
If you could advise on the composer files please, that would be handy, thank you.

[Archive.zip](https://github.com/TopShelfCraft/Wordsmith/files/5035746/Archive.zip)

[2020-08-06 15:17] michaelrog commented on #37
@moondawg69 — just add a `^` to your dependency constraint for Wordsmith, like this:
[code]
That'll ensure maximum interoperability with future versions of Wordsmith and Craft.

Curiously, did you install Wordsmith via the command-line Composer tool, or from the Craft Plugin Store?

[2020-08-06 15:22] moondawg69 commented on #37
Thank you @michaelrog - I changed composer.json to: "topshelfcraft/wordsmith": "^3.2.0",

Logged into the CP and ran the 3.5 update, same(ish) issue, but slightly different:

[code]

And yes, always via the Plugin Store, do not touch the command line or SSH.

[2020-08-06 15:46] michaelrog commented on #37
Thanks for troubleshooting this with me, @moondawg69!

Try this:

1. Update your Composer file to reflect the most recent versions of Wordsmith _and_ Craft:
[code]

2. Run Composer's update command:
[code]

3. From the Craft control panel, update any remaining items.

[2020-08-06 15:55] moondawg69 commented on #37
Ok, I'll have to get the host to open up SSH on this particular domain to run the composer command.

I'll let you know :)

[2020-08-06 15:58] michaelrog commented on #37
Actually, @moondawg69 ... you _might_ be able to get away with just updating the `composer.json` and then running the update through Craft.

(The difference between now and earlier is that you're unpinning the version constraint for _both_ Craft _and_ Wordsmith. Maybe that'll make a difference in how Craft's updater resolves the update.) 🤞

[2020-08-06 15:59] moondawg69 commented on #37
I tried that route first ;)

Error was:

Composer output: Package "craftcms/vue-asset" listed for update is not installed. Ignoring.
Package "danielstjules/stringy" listed for update is not installed. Ignoring.
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

Problem 1
- The requested package to

[2020-08-06 16:03] michaelrog commented on #37
A ha — That indicates a mismatch between your `composer.json` and `composer.lock` files. (This is expected, since you edited your `composer.json` file, and haven't (yet) run `composer update` to rebuild the lock file with the updated dependencies.

Try deleting your `composer.lock` file (keep a backup copy, of course) — And see if Craft regenerates it in the course of an update?

[2020-08-06 16:17] moondawg69 commented on #37
Getting worse lol - composer update ends up in a KILLED status, memory I guess.

So, renaming composer lock and running via the CP, gets:

Composer output: Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

Problem 1
- The requested package topshelfcraft/wordsmith (installed at 3.2.0, required as

[2020-08-06 16:32] michaelrog commented on #37
Blergh. So, to summarize:

Wordsmith 3.3 requires Craft 3.5, but you can't update to Craft 3.5 with Wordsmith 3.2 installed. This is fine if you're running `composer update` on the command line, because Composer is smart enough to rebuild the dependency tree and update all the packages in tandem. But, Craft's updater apparently doesn't work like that.

So, the solution for right now is dumb, but s

[2020-08-06 16:37] michaelrog commented on #37
To summarize:

- Wordsmith 3.3 requires Craft 3.5, but you can't update to Craft 3.5 with Wordsmith 3.2 installed.

- This is fine if you're running composer update on the command line, because Composer is smart enough to rebuild the dependency tree and update all the packages in tandem.

- But, the Plugin Store updater seems to work differently, i.e. updating packages one at a time, which in this

[2020-08-06 16:47] moondawg69 commented on #37
@michaelrog well that worked, thank you:

And now onto other plugins that are being naughty too :)

[2020-08-06 16:54] michaelrog commented on #37
Thanks @idawgik for bringing this up.

@kerns @mariussunde ☝️  — Does that work for yall, too?

(Hopefully easier than ripping out all your `|widont`s...) 😅

[2020-08-06 17:06] mariussunde commented on #37
@michaelrog oddly enough, it does not do the trick for me. I uninstalled* every plugin and still get an error so currently in touch with Craft support.

[2020-08-06 17:14] michaelrog commented on #37
@mariussunde — Sounds like there may be lingering references to `danielstjules/stringy`, `tcb13/substringy`, or Wordsmith, in your `composer.json` or `composer.lock`...? You may need to clean those out before the Plugin Store updater will let you proceed.

[2020-08-06 21:48] kerns commented on #37
Much easier! Worked perfectly for me. Thanks!

[2020-08-07 13:00] lexislav opened #39 "Craft CMS 3.5 update issue"
The plugin seems to have some issues with dependencies when updating to Craft 3.5. Needs to be uninstalled :-/

[2020-08-07 17:46] #37 closed, assigned to nobody

[2020-08-09 16:19] michaelrog commented on #39
@lexislav — Check out #37 for more commentary on this. Short story: Make sure you're updating to the latest version of Wordsmith, currently `3.3.0.1`.

[2020-08-09 16:19] #39 closed, assigned to nobody

[2020-08-26 14:10] fractorr opened #40 "Typo in documenation"
In Casing & Capitalization you have this below for apTitleize, it should be apTitleize not camelize

apTitleize

Intelligently up-cases a string as a headline/title using AP capitalization rules.

{{ 'a tale of two cities' | camelize }}

#  "A Tale of Two Cities"

[2020-12-07 16:06] dowadidi opened #42 "Adding an offset param to the chop method"
It would be nice to have an offset param to create a readmore/-less of an introduction for example.

[2020-12-16 21:26] ostark opened #43 "Dependency erusev/parsedown-extra with PSR-0 issues"
Not your issue, but still an issue:

https://github.com/erusev/parsedown-extra/issues/156

[2020-12-16 21:33] michaelrog commented on #43
Grumpgrumpgrump. Thanks for calling that to my attention.

[2021-02-11 10:06] peteeveleigh commented on #43
Looks like there was a pull request for this made in the erusev/parsedown-extra package but it's been sitting there since May 2020. Not sure what can be done from here without forking it and fixing the problem. Doesn't look like the author is interested in it any longer.

[2021-02-11 19:34] michaelrog commented on #43
From the POV of Wordsmith, it looks like a mostly aesthetic issue... i.e. Composer is complaining about invalid namespacing for `ParsedownExtraTest`, but that class isn't used invoked by Wordsmith. So as far as I know, it's not breaking any of the plugin's functionality. Am I missing something?

[2021-02-11 19:47] ostark commented on #43
Depends if your FS is case sensitive or not.
Previously Composer wasn't strict about casing, now with 2.0 it is.
Composer doesn't know if you will use the class later. To avoid surprises later, it makes sense to complain about it.

[2021-02-11 21:38] peteeveleigh commented on #43
@michaelrog if you are using Composer 2 and running `composer install` on deployment then it can fail with an error and not do the autoload thing.
I will double check it though.
Maybe it won't be a problem as it will only skip that particular class

[2021-02-11 22:46] michaelrog commented on #43
yeah, I'm using Composer 2, but I just see warnings, and it installs just fine.

[2021-02-12 11:22] ostark commented on #43
I suggest to fork it since further development by maintainer is unlikely. Or use a different package.

[2021-02-12 17:08] michaelrog commented on #43
For sure — Will probably ditch Parsedown Extra altogether in 4.0, and just use GFM via The League's package.

Also want to fix any _breaking_ issues in 3.x, so just trying to confirm if _this_ present issue is, in fact, "breaking" (as opposed to just annoying).

[2021-02-12 17:12] peteeveleigh commented on #43
On reflection I don’t think it’s breaking.

[2021-03-02 20:43] louderthan10 opened #44 "New line created if first words are linked and second sentence in paragraph starts with the same words"
Okay, this is a really weird edge case and easy to fix from the content entry side, but want to report it for others that may hit this very strange bug.

If you start a new paragraph with a link, then start the second sentence with the exact same text as the link text, it breaks the first sentence after the link. Like this:

<img width="1769" alt="Screen Shot 2021-03-02 at 12 11 58 PM" src="https:

[2021-03-04 16:07] michaelrog commented on #44
I attempted to reproduce this with only Wordsmith filters, using your exact text...

[code]

...and the output was as expected, without any erroneous breaks:

[code]

My best guess is there's some wonky interaction with the `sc` filter here. Where does that come from / What functionality does it provide?

[2021-03-04 16:07] #44 closed, assigned to nobody

[2021-06-18 22:23] ademers commented on #43
I've just noticed this today:

[code]

Can someone please confirm that this won't bork my Production env. when I finally upgrade to Composer 2? Thanks!

[2021-06-18 23:44] michaelrog commented on #43
@ademers — should be fine. The `ParsedownExtraTest` class isn't required for any functionality, so it's not concerning that it doesn't get loaded by Composer 2. (In the next version, I'll probably just remove the dependency, cuz nobody likes to be pestered.)

[2021-06-18 23:44] #43 closed, assigned to michaelrog

[2021-09-03 17:22] gixxy22 opened #45 "Array and string offset access syntax with curly braces is no longer supported"
in /vendor/topshelfcraft/wordsmith/src/libs/FullNameParser.phpat line 476

`return ((mb_strlen($word) == 1) || (mb_strlen($word) == 2 && $word{1} == "."));`

curly braces are no longer supported in PHP8

[2021-09-03 17:25] gixxy22 commented on #45
theres a few other lines where curly braces are used in that file too.

[2021-09-04 16:31] michaelrog commented on #45
Thanks for bringing this up. Will get an 8.0-friendly update out.

[2021-12-16 07:55] denisyilmaz opened #46 "[FR] Add GraphQL support for filters as directives"
Would it be possible to add the filters (like `{{'Mark & Sons: "industry leaders" in... stuff.' | typogrify}}`) to GraphQL as directives?
It would be awesome to be able to parse text in graphql like this:

[code]

[2021-12-19 09:42] michaelrog commented on #46
That's a GREAT idea! — I imagine it'd be useful for a lot of folks!

You can [define custom directives](https://craftcms.com/docs/3.x/extend/graphql.html#directives) using Craft's [`Gql::EVENT_REGISTER_GQL_DIRECTIVES`](https://docs.craftcms.com/api/v3/craft-services-gql.html#event-register-gql-directives) event.

The trick would be... How can we avoid needing to create and register dozens of PHP c

[2021-12-20 09:23] denisyilmaz commented on #46
I like the idea of having one single `@wordsmith`directive. I have created a PR with all functions which return string/boolean and don't need any arguments to work correctly or have defaults set.

![image](https://user-images.githubusercontent.com/4189607/146744618-2c717bf6-8806-4b51-b11c-19a830686fc0.png)

It might be necessary to declare different directives for the functions with arguments beca

[2022-01-25 19:46] tremby commented on #13
This could really do with better documentation.

I found that the following does work for me:

    {{ "text text text" | typogrify({ set_dewidow: false }) }}

[2022-01-25 20:28] tremby commented on #34
I just ran into this issue.

The inflector v2.0.0 changelog https://github.com/ICanBoogie/Inflector/releases/tag/v2.0.0 says it's only dropping support for old versions of PHP and there are no other breaking changes.

I don't know if the changes in v2.1.0 are breaking; it mentions that some things are classes which were not in the past.

But I tried dropping the latest version in, replacing 1.5.0

[2022-03-24 11:15] rob-c-baker opened #49 "Craft 4 support"
Just wondering about Craft 4 support for Wordsmith.

Looking through the current issues, these seem related (or are blockers):

#34 Update `icanboogie/inflector` to 2.0 for PHP 7.4 support
#45 Array and string offset access syntax with curly braces is no longer supported

Both of these explicitly or implicitly need work for PHP 8.x support.

[2022-04-24 15:43] andypullen opened #50 "The included Inflector package is not compatible with PHP 8"
Any of the filters in using the included Inflector package (v1.5.0) breaks with PHP 8+, and causes the rest of the script to stop executing.

For example, in a template, Hello {{ 1 | ordinalize }} World will only output Hello , breaking at the ordinalize filter.

phperrors.log records this error:

#0 {main}
  thrown in /app/vendor/yiisoft/yii2/base/ErrorException.php on line 50
[12-Apr-2022 14:23:

[2022-04-24 15:53] andypullen commented on #50
Duplicate of https://github.com/TopShelfCraft/Wordsmith/issues/34

[2022-04-24 15:53] #50 closed, assigned to nobody

[2022-05-16 06:15] #34 closed, assigned to nobody

[2022-05-16 06:22] michaelrog commented on #49
Wordsmith 4.0.0 is out now, with Craft 4 compatibility.

#34 is resolved by pinning the Inflector package at `^2.0`.

#45 is still open; PRs welcome!

[2022-05-16 06:22] #49 closed, assigned to nobody

[2022-05-16 06:24] michaelrog opened #51 "Add test suite."
We should have full unit test coverage for each documented function... 😬

[2022-06-03 09:34] Saboteur777 opened #53 "How to use readTime filter with Matrix field?"
I am trying to use the readTime filter with matrix fields, but I can't make it work, as `entry | readTime(rate=140, minimum=2)` return 2 every time (sure, because without `minimum` it would return 1). I have also tried `entry.matrixField`, but it did not work either.

[2022-06-03 19:18] michaelrog commented on #53
Most Wordsmith functions, including `readTime`, operate on a `string` input. If you pass in an `Entry` or `MatrixBlockQuery` object instead of a string, PHP will try to cast the object as a string (using its `__toString()` method, if there is one). That probably won't be very useful. (IIRC, the `_toString()` of an entry just returns its `title`.) To estimate the total read-time of an entry, you ne

[2022-06-03 19:18] #53 closed, assigned to nobody

[2022-06-05 22:21] #45 closed, assigned to michaelrog

[2022-06-05 22:23] michaelrog commented on #49
#45 is closed as of `4.0.1`. ✅

(Thanks @Saboteur777!)

[2022-07-31 20:04] mihob commented on #46
Any news on this topic? That would really be a great feature

[2022-10-31 15:38] aaronrobb opened #54 "Craft 4 getting Argument error on null variables"
I'm getting this error after a Craft 4 upgrade:

```TopShelfCraft\Wordsmith\services\TypographyService::typogrify(): Argument #1 ($text) must be of type string, null given, called in /vendor/topshelfcraft/wordsmith/src/services/WordsmithService.php on line 1117```

This is on a line of code like:

```{{ item.title|typogrify  }}```

which worked on Craft 3.

Now the obvious issue is that on this sp

[2022-11-09 23:07] michaelrog commented on #54
Hmmmm, sounds like a PHP8/types gotcha. I'll check it out.

[2022-11-15 22:05] mmoss128 commented on #54
Ran into the same issue. Modifying TypographyService.php and changing the function declaration for typogrify from
`public function typogrify(string $text, array $adhocSettings = []): string`  to `public function typogrify(string|null $text, array $adhocSettings = []): string` looks to resolve the issue.